*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}

.container {
    /* width: 30rem; */
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 1fr);
    padding: 15px;
    border-radius: 15px;
    background-color: deeppink;
}

.container :first-child {
    grid-column: 1/-1;
    width: 100%;
}

button[data-equal] {
    grid-column: 4;
    grid-row: 3/-1;
    
}

/* body{
    text-align: center;
}
.container{
    position: relative;
    top: 50%;
    left: 50%;
    display: grid;
    width: 520px;
    height: 520px;
    background-color: deeppink;
    border-radius: 10px;
    padding: 10px;

}
.input-wrapper input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
}
.row1 button{
    width: 120px;
    height: 70px;
    border-radius: 2000px;

}
.row2 button{
    width: 120px;
    height: 70px;
    border-radius: 10px;

}
.row3 button{
    width: 120px;
    height: 70px;
    border-radius: 10px;

}
.row4 button{
    width: 120px;
    height: 70px;
    border-radius: 10px;

}
.row5 button{
    width: 120px;
    height: 70px;
    border-radius: 10px;

}
#calc button {
    position: absolute;
    height: 200px;
    width: 200px;
} */